.container
  .row
    .span6.logo
      = img "taco.png"
    .span10
      %h1 Taco Lab
      %section
        %p
          Founded in 2008 by recent grads of the #{link_to 'MIT Media Lab', 'http://www.media.mit.edu'}, Taco Lab was a hybrid design and engineering firm specializing in bridging custom devices and the cloud. 
        %p 
          Projects included sensor technology applications, rapid device prototyping, interactive data visualization, non-profit social networking applications, and web system design and development. Clients included 
          #{link_to "Hallmark", "http://hallmark.com"}
          #{link_to "Qixen-P", "http://www.qixen-p.com/"}
          #{link_to "UCSF", "http://ucsf.edu/"}
          #{link_to "Craigslist Foundation", "http://craigslistfoundation.org"},
          #{link_to "SPUR", "http://spur.org/"}, and 
          #{link_to "Sequoia Capital", "http://sequoiacap.com/"}.
        %p
          The team from Taco Lab later went on to found #{link_to "Sifteo", "https://sifteo.com/"} in 2009.
      
      %section
        %h3 Alumni
        %p 
          Brent Fitzgerald 
          &rarr; #{link_to "Sifteo", "https://sifteo.com/"} &rarr; #{link_to "card.io", "https://www.card.io/"}.
        %p 
          Jeevan Kalanithi &rarr; #{link_to "Sifteo", "https://sifteo.com/"}.
        %p 
          David Merrill &rarr; #{link_to "Sifteo", "https://sifteo.com/"}.
      
      %section
        %h3 Contact
        %p
          :javascript
            document.write("<n uers=\"znvygb:nyhz@gnpbyno.pbz\">nyhz@gnpbyno.pbz</n>".replace(/[a-zA-Z]/g, 
            function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
        
        